.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.card {
    width: 100%;
    margin: auto;
    border-radius: 1rem;
    background-color: rgb(235, 235, 235);
}


.button-webcam-onOff {
    background-color: green;
    width: 100%;

}

.webcam {
    display: flex;
    flex-direction: column;

}

.webcam-cam video {
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
    border-radius: 10px;
}

.webcam h2 {
    text-align: center;
    font-weight: bold;
    color: blueviolet;
    margin-top: 1rem;
}

.button-webcam-trigger {
    margin-top: 1rem;
    background-color: blueviolet;
    width: 100%;
}

.webcam-cam {
    margin-right: auto;
    margin-left: auto;
}

.adjust-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.snapshot-title {
    text-align: center;
    font-weight: bold;
    color: blueviolet;
    margin-top: 1rem;
}

.snapshot {
    width: 100% !important;
    height: auto !important;
    display: block;
    object-fit: cover;
}
.img-preview {
    width: 40%;
    height: auto;
}

.button-save {
    width: 100%;
    background-color: blueviolet;
    margin-top: 1rem;
    font-weight: bold;
}