<div class="container">
  <mat-card class="card mat-elevation-z8">
    <div class="card-header">
      <mat-card-title-group>
        <mat-card-title ngClass="card-funcionario-nome"
          >{{ funcionario.nome }}
        </mat-card-title>
        <mat-card-subtitle>
          <h1 class="card-funcionario-idade">{{ funcionario.idade }} Anos</h1>
        </mat-card-subtitle>
        <mat-card-subtitle>
          <h2 class="card-funcionario-empresa">
            Empresa: {{ funcionario.empresa }}
          </h2>
        </mat-card-subtitle>
        <img
          class="funcionario-foto"
          mat-card-lg-image
          [src]="funcionario.foto"
        />
      </mat-card-title-group>
      <div>
        <button
          class="button-more mat-elevation-z8"
          mat-raised-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
        >
          Opções<mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            *ngIf="perfilUsuario == 'ADMIN'"
            routerLink="/funcionario/{{ funcionario.id }}/update"
            mat-menu-item
          >
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button
            routerLink="/funcionario/{{ funcionario.id }}/foto"
            mat-menu-item
          >
            <mat-icon>photo</mat-icon>
            <span>Foto</span>
          </button>
          <button (click)="crachaDialog()" mat-menu-item>
            <mat-icon>contacts</mat-icon>
            <span>Crachá</span>
          </button>
          <button (click)="deleteByIdDialog()" mat-menu-item
            *ngIf="perfilUsuario == 'ADMIN'">
            <mat-icon>delete</mat-icon>
            <span>Deletar</span>
          </button>
        </mat-menu>
      </div>
    </div>

    <mat-card-content>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab ngClass="mat-tab">
          <ng-template mat-tab-label>
            <mat-icon class="mat-tab-icon">assignment_ind</mat-icon>
            Detalhes
          </ng-template>
          <mat-card ngClass="card-detalhes">
            <div>
              <mat-list>
                <mat-list-item ngClass="list-item">
                  <h3 class="list-item-title">NOME :</h3>
                  <h3 ngClass="list-item-descricao">{{ funcionario.nome }}</h3>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                  <h3 class="list-item-title">EMPRESA :</h3>
                  <h3 ngClass="list-item-descricao">
                    {{ funcionario.empresa }}
                  </h3>
                  <mat-icon>business</mat-icon>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                  <h3 class="list-item-title">IDADE :</h3>
                  <h3 ngClass="list-item-descricao">{{ funcionario.idade }}</h3>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                  <h3 class="list-item-title">RG :</h3>
                  <h3 ngClass="list-item-descricao">{{ funcionario.rg }}</h3>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                  <h3 class="list-item-title">TELEFONE :</h3>
                  <h3 ngClass="list-item-descricao">
                    {{ funcionario.telefone }}
                  </h3>
                  <mat-icon>phone</mat-icon>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                  <h3 class="list-item-title">E-MAIL :</h3>
                  <h3 ngClass="list-item-descricao">{{ funcionario.email }}</h3>
                  <mat-icon>email</mat-icon>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
            </div>
            <div>
              <mat-list>
                <mat-list-item ngClass="list-item">
                  <h3 class="list-item-title">DATA DE NASCIMENTO :</h3>
                  <h3 ngClass="list-item-descricao">
                    {{ funcionario.dataNascimento | date: "dd/MM/yyyy" }}
                  </h3>
                  <mat-icon>date_range</mat-icon>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item ngClass="list-item">
                  <h3 class="list-item-title">CIDADE :</h3>
                  <h3 ngClass="list-item-descricao">
                    {{ funcionario.cidade }}
                  </h3>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item ngClass="list-item">
                  <h3 class="list-item-title">TAG :</h3>
                  <h3 ngClass="list-item-descricao">{{ funcionario.tag }}</h3>
                  <mat-icon>credit_card</mat-icon>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                  <h3 class="list-item-title">MATRICULA :</h3>
                  <h3 ngClass="list-item-descricao">
                    {{ funcionario.matricula }}
                  </h3>
                </mat-list-item>
                <mat-divider></mat-divider>
              </mat-list>
            </div>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="mat-tab-icon">alarm</mat-icon>
            Ponto
          </ng-template>
          <mat-card class="card-ponto">
            <button mat-raised-button class="button-relatorio-ponto" (click)="pontoToPdf()">
              <mat-icon>picture_as_pdf</mat-icon> Relatório
            </button>
            <mat-form-field appearance="standard">
              <mat-label>Filtro</mat-label>
              <input
                matInput
                (keyup)="applyFilterPonto($event)"
                placeholder="Ex. ium"
                #input
              />
            </mat-form-field>

            <table
              mat-table
              [dataSource]="dataSourcePonto"
              class="table-ponto mat-elevation-z8"
            >
              <!-- Name Column -->
              <ng-container style="margin-left: 1em" matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef>Data</th>
                <td mat-cell *matCellDef="let element">{{ element.data }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container style="margin-left: 1em" matColumnDef="horario">
                <th mat-header-cell *matHeaderCellDef>Horario</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.horario }}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container style="margin-left: 1rem" matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef>Ação</th>
                <td mat-cell *matCellDef="let element">{{ element.acao }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsPonto"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsPonto"
              ></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  No data matching the filter "{{ input.value }}"
                </td>
              </tr>
            </table>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
